/vendor/
/node_modules/

.env
.env.backup

/public/storage
/storage/*.key

# Laravel logs
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*

# NPM/Yarn logs
npm-debug.log
yarn-error.log

# Composer files
composer.lock

# IDE / Editor
/.idea/
/.vscode/
/*.swp

# OS files
.DS_Store
Thumbs.db

database/*.sqlite
